footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-accent;
  color: $text-on-light;
  font-size: 2rem;
  height: 40px;

  @media(max-width: 480px) {
    height: 60px;
    text-align: center;
    font-size: 1.8rem;
  }
}