main section .wrapper input[type=range] { 
  // with the help of this! https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
  // below section is to create invisible or unstyled range inputs in all browsers
  -webkit-appearance: none;
  width: 100%;
  background: transparent;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }  
  &:focus {
    outline: none;
  }
  &::-ms-track {
    width: 100%;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  // below section is to create spaceship thumb (that's the slidy thing!)
  &::-webkit-slider-thumb {
    background: url('../assets/spaceship.png');
    height: 64px;
    width: 64px;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    background: url('../assets/spaceship.png');
    height: 64px;
    width: 64px;
    border: 0;
    cursor: pointer;
  }
  &::-ms-thumb {
    background: url('../assets/spaceship.png');
    height: 64px;
    width: 64px;
    cursor: pointer;
  }

  // styling the track 
  &::-webkit-slider-runnable-track {
    width: calc(100% - 64px);
    height: 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: $main-accent;
    border: 3px solid $text-on-light;
  }
  &::-moz-range-track {
    width: calc(100% - 64px);
    height: 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: $main-accent;
    border: 3px solid $text-on-light;
  }
  &::-ms-track {
    width: calc(100% - 64px);
    height: 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: $main-accent;
    border: 3px solid $text-on-light;
  }
}

// styles for custom radio buttons
// source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio
main .wrapper .container {
  font-size: 3rem;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;

  @media(max-width: 480px) {
    font-size: 2.4rem;
  }
  
  // hide the browser's default radio button
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .newRadio {
    position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    width: 27px;
    // background-color: $accent-text;
    border: 4px solid $text-on-light;
    border-radius: 50%;
  }

  &:hover .newRadio {
    background-color: $main-accent;
  }

  input:checked ~ .newRadio {
    background-color: $main-accent;
  }

  .newRadio:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ .newRadio:after {
    display: block;
  }
}

