main {
  section {
    display: flex;
    align-items: center;

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      h2 {
        font-size: 4rem;
        margin-bottom: 25px;
      }
      form, img {
        width: 50%;
      }
    }
  }
  .temperature-input, .travel-input {
    background-color: $text-on-dark;
    color: $text-on-light;
  }
  .travel-input .wrapper form {
    width: 90%;
    margin-top: 150px;
    position: relative;

    .rangePlanet {
      height: 64px;
      width: 64px;
      margin-bottom: 40px;
      // background-color: goldenrod;
      display: inline-block;
      position: absolute;
      top: -100px;
      opacity: 0.2;
    }

    .vis {
      opacity: 1;
    }

    .p1 {
      left: -80px;
      background-image: url('../assets/planet-earth.png');
      top: -32px;
    }
    .p2 {
      left: 1.04%;
      background-image: url('../assets/venus.png');
    }
    .p3 {
      left: 1.04%;
      display: none;
    }
    .p4 {
      left: 4.16%;
      background-image: url('../assets/mars.png');
      top: 50px;
    }
    .p5 {
      left: 12.5%;
      background-image: url('../assets/jupiter.png');
    }
    .p6 {
      left: 25%;
      background-image: url('../assets/saturn.png');
    }
    .p7 {
      left: 52.08%;
      background-image: url('../assets/uranus.png');
    }
    .p8 {
      left: calc(84.375% - 64px);
      background-image: url('../assets/neptune.png');
    }
    .p9 {
      left: calc(100% - 64px);
      background-image: url('../assets/pluto.png');
    }
  }
}
