html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Trispace', sans-serif;
  background-color: #0b0c10;
  color: #eeeeee;
}

header, section {
  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

fieldset {
  border: 0;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

main section .wrapper input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

main section .wrapper input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

main section .wrapper input[type=range]:focus {
  outline: none;
}

main section .wrapper input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

main section .wrapper input[type=range]::-webkit-slider-thumb {
  background: url("../assets/spaceship.png");
  height: 64px;
  width: 64px;
  cursor: pointer;
}

main section .wrapper input[type=range]::-moz-range-thumb {
  background: url("../assets/spaceship.png");
  height: 64px;
  width: 64px;
  border: 0;
  cursor: pointer;
}

main section .wrapper input[type=range]::-ms-thumb {
  background: url("../assets/spaceship.png");
  height: 64px;
  width: 64px;
  cursor: pointer;
}

main section .wrapper input[type=range]::-webkit-slider-runnable-track {
  width: calc(100% - 64px);
  height: 20px;
  cursor: pointer;
  background-color: #45a29e;
}

main section .wrapper input[type=range]::-moz-range-track {
  width: calc(100% - 64px);
  height: 12px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #45a29e;
  border: 3px solid #1f2833;
}

main section .wrapper input[type=range]::-ms-track {
  width: calc(100% - 64px);
  height: 20px;
  cursor: pointer;
  background-color: #45a29e;
}

main .wrapper .container {
  font-size: 2.4rem;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

main .wrapper .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

main .wrapper .container .newRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  border: 4px solid #1f2833;
  border-radius: 50%;
}

main .wrapper .container:hover .newRadio {
  background-color: #45a29e;
}

main .wrapper .container input:checked ~ .newRadio {
  background-color: #45a29e;
}

main .wrapper .container .newRadio:after {
  content: "";
  position: absolute;
  display: none;
}

main .wrapper .container input:checked ~ .newRadio:after {
  display: block;
}

header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-size: 12rem;
  margin: 0;
  color: #66fcf1;
}

header h2 {
  font-size: 3rem;
  max-width: 60%;
  margin: 40px auto 65px auto;
}

header a {
  text-decoration: none;
  margin-top: 100px;
  padding: 15px 30px;
  border: 2px solid #45a29e;
  color: #c5c6c7;
  font-size: 2rem;
  border-radius: 4px;
}

header a:hover {
  border-color: #c5c6c7;
  background-color: #45a29e;
  color: black;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .wrapper h2 {
  font-size: 4rem;
  margin-bottom: 25px;
}

main section .wrapper form, main section .wrapper img {
  width: 50%;
}

main .temperature-input, main .travel-input {
  background-color: #eeeeee;
  color: #1f2833;
}

main .travel-input .wrapper form {
  width: 90%;
  margin-top: 150px;
  position: relative;
}

main .travel-input .wrapper form .rangePlanet {
  height: 64px;
  width: 64px;
  margin-bottom: 40px;
  display: inline-block;
  position: absolute;
  top: -100px;
  opacity: 0.2;
}

main .travel-input .wrapper form .vis {
  opacity: 1;
}

main .travel-input .wrapper form .p1 {
  left: -80px;
  background-image: url("../assets/planet-earth.png");
  top: -32px;
}

main .travel-input .wrapper form .p2 {
  left: 1.04%;
  background-image: url("../assets/venus.png");
}

main .travel-input .wrapper form .p3 {
  left: 1.04%;
  display: none;
}

main .travel-input .wrapper form .p4 {
  left: 4.16%;
  background-image: url("../assets/mars.png");
  top: 50px;
}

main .travel-input .wrapper form .p5 {
  left: 12.5%;
  background-image: url("../assets/jupiter.png");
}

main .travel-input .wrapper form .p6 {
  left: 25%;
  background-image: url("../assets/saturn.png");
}

main .travel-input .wrapper form .p7 {
  left: 52.08%;
  background-image: url("../assets/uranus.png");
}

main .travel-input .wrapper form .p8 {
  left: calc(84.375% - 64px);
  background-image: url("../assets/neptune.png");
}

main .travel-input .wrapper form .p9 {
  left: calc(100% - 64px);
  background-image: url("../assets/pluto.png");
}
